{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "ignorePatterns": ["**/node_modules"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "indent": ["off"],
    "@typescript-eslint/no-unused-vars": ["error", { "args": "all", "argsIgnorePattern": "^_", "ignoreRestSiblings": true }],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": ["error"],
    "@typescript-eslint/consistent-type-imports": ["error"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "eqeqeq": ["error", "always"],
    "object-shorthand": ["error", "always"], 
    "import/order": [
      "error",
      {
        "groups": [["builtin", "external"], "parent", "sibling", "index", "internal"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc"
        }
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
